# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
venv/
.env


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VS Code, PyCharm, and other IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# AWS credentials/config (you should use env vars anyway)
.aws/

# Logs
*.log

# Local .DS_Store files (macOS)
.DS_Store

# Uvicorn and gunicorn socket files
*.sock

# Mongo dump files (if any)
dump/
